# Python
__pycache__/
*.pyc
.venv/
env/

#runs
runs/

# training outputs
training/runs/

# dataset
training/data/raw/
training/data/labeled/
training/data/yolo_dataset/images/
training/data/yolo_dataset/labels/

# models
*.pt

# OS
.DS_Store
Thumbs.db
.vscode/