# Python
__pycache__/
*.pyc
.venv/

# runs
runs/
training/runs/

# dataset（只忽略檔案，不忽略資料夾）
training/data/raw/*
training/data/labeled/*
training/data/yolo_dataset/images/*/*
training/data/yolo_dataset/labels/*/*
training/data/baseline_raw/
training/data/baseline_raw_v2/
!training/data/baseline_raw/.gitkeep
!training/data/baseline_raw_v2/.gitkeep

# 保留資料夾結構
!training/data/raw/.gitkeep
!training/data/labeled/.gitkeep
!training/data/yolo_dataset/images/train/
!training/data/yolo_dataset/images/val/
!training/data/yolo_dataset/images/test/
!training/data/yolo_dataset/labels/train/
!training/data/yolo_dataset/labels/val/
!training/data/yolo_dataset/labels/test/

# app/src (只忽略檔案，不忽略資料夾)
app/src/inspection_data/*
app/src/inspection_data/operator_photos/*

# 保留資料夾結構
!app/src/inspection_data/.gitkeep
!app/src/inspection_data/operator_photos/
!app/src/inspection_data/operator_photos/.gitkeep


# models
*.pt

# OS
.DS_Store
Thumbs.db
.vscode/

# txt
file.txt

# Claude
.Claude

# exe file
build
dist
pyinstaller_hooks
screw_inspection.spec
